.edit-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    height: fit-content;
    margin: 3rem auto;
    padding: 2rem;
}

.sign-in-icon {
    font-size: 5rem;
}

.CTA-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
